@if (server is null)
{
    return;
}

<EditForm Enhance Model="server" FormName="serverComponentForm" OnSubmit="ChangeServerStatus">
    <InputNumber @bind-Value="server.Id" hidden></InputNumber>
    <InputText @bind-Value="server.City" hidden></InputText>
    <InputText @bind-Value="server.Name" hidden></InputText>
    <InputCheckbox @bind-Value="server.IsOnline" hidden></InputCheckbox>

    <div style="@($"color: {(server.IsOnline ? "green" : "red")}")" data-name="@server.Name"
         data-status="@(server.IsOnline ? "online" : "offline")">
        @server.Name is in @server.City that is @(server.IsOnline ? "online" : "offline")
        <button type="submit" class="btn btn-primary">Turn On/Off</button>
    </div>
</EditForm>

@code {

    [SupplyParameterFromForm] private Server? server { get; set; }

    private void ChangeServerStatus()
    {
        if (server is null)
        {
            return;
        }

        server.IsOnline = !server.IsOnline;
    }

    protected override void OnParametersSet()
    {
        server ??= new Server
        {
            Name = "Server1",
            City = "Toronto"
        };
    }

}