@if (server is null)
{
    return;
}

<div style="@($"color: {(server.IsOnline ? "green" : "red")}")" data-name="@server.Name"
     data-status="@(server.IsOnline ? "online" : "offline")">
    @server.Name is in @server.City that is @(server.IsOnline ? "online" : "offline")
    <button type="button" class="btn btn-primary" @onclick="ChangeStatus">Turn On/Off</button>
</div>

@code {

    [SupplyParameterFromForm]
    private Server? server { get; set; } = new()
    {
        Name = "Server1",
        City = "Toronto"
    };

    private void ChangeStatus()
    {
        if (server is null)
        {
            return;
        }

        server.IsOnline = !server.IsOnline;
    }
}