@inject NavigationManager NavigationManager

@if (Server is null)
{
    return;
}

<li @key="Server.Id">
    @Server.Name in @Server.City is
    <span style="color: @(Server.IsOnline ? "green" : "red")">
        @(Server.IsOnline ? "online" : "offline")
    </span>
    <a href="/Servers/edit/@Server.Id" class="btn btn-link">Edit</a>
    <EditForm
        Model="Server"
        FormName="@($"Server-{Server.Id}-form")"
        OnValidSubmit="@(() => DeleteServer(Server))">
        <button type="submit" class="btn btn-primary">
            Delete
        </button>
    </EditForm>
</li>

@code {
    [Parameter]
    public Server? Server { get; set; }
    
    private void DeleteServer(Server server)
    {
        if (server.Id <= 0)
        {
            return;
        }

        ServersRepository.DeleteServer(server.Id);
        // Servers = ServersRepository.GetServersByCity("Toronto");
        NavigationManager.Refresh(forceReload: true);
    }
}